:root {
    --verde-neon: #00ff95;
    --azul-neon: #00c0ff;
    --texto-claro: #e0f5e9;
    --fundo-escuro: #0d1d16;
    --fundo-card: #141e1a;
    --cinza: #b2e7d3;
    --branco: #ffffff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--fundo-escuro);
    color: var(--texto-claro);
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Títulos */
h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    background: linear-gradient(to right, var(--verde-neon), var(--azul-neon));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1#pp {
    margin-top: -20px;
}

h1#obj{
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    background: linear-gradient(to right, var(--verde-neon), var(--azul-neon));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px
}

h2 {
    color: var(--verde-neon);
    font-size: 1.8em;
    margin-top: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--azul-neon);
}

h2#og{
    color: var(--verde-neon);
    font-size: 1.8em;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--azul-neon);
}

h3 {
    font-size: 1.1em;
    color: var(--cinza);
    margin: 15px 0;
    text-align: justify;
    font-weight: normal;
}

h4 {
    color: var(--azul-neon);
    font-style: italic;
    font-weight: normal;
    border-left: 4px solid var(--verde-neon);
    padding-left: 15px;
    margin: 20px 0;
}

/* Lista */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Botão de voltar */
.btn-voltar {
    display: inline-block;
    background: linear-gradient(to right, var(--verde-neon), var(--azul-neon));
    color: var(--fundo-escuro);
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 40px 0;
    transition: all 0.3s ease;
    border: none;
}

.btn-voltar:hover {
    background: linear-gradient(to left, var(--verde-neon), var(--azul-neon));
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,255,149,0.4);
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
}
